<!-- <%=@paraElement%> -->
<!-- <%=@picture%> -->
<% @personTable.each do |h| %>
	
	<div id="picture"><%=  h[:picture] %></div>
	<div id="name"><%=  h[:name] %></div>
	<div id="address"><span>Address: </span><%=  h[:address] %></div>
	<div id="city"><span>City / State: </span><%=  h[:city] %></div>
	<div id="number"><span>PCF Number: </span><%=  h[:number] %></div>
	<div id="date"><span>Date Arrested: </span><%=  h[:date] %></div>
	<div id="time"><span>Time Arrested: </span><%=  h[:time] %></div>
	<div id="officer"><span>Officer: </span><%=  h[:officer] %></div>
	<div id="agency"><span>Agency: </span><%=  h[:agency] %></div>
	<div id="charge"><span>Charges: </span><%=  raw h[:charge] %></div>
	<div id="status"><span>Status: </span><%=  raw h[:status] %></div>
	
	
<% end %>

