


	<% @details.each do |h| %>
		<%=h[:charge]%>
		<%=h[:classification]%>
		<%=h[:statute]%>
		<%=h[:court]%>
		<%=h[:bond]%>
		<%=h[:paid]%>
	<% end %>




	<!-- 
	<div><%= @paraElement %></div>
	<div><%= @classification %></div>
	<div><%= @statute %></div>
	<div><%= @court%></div>
	<div><%= @bond%></div>
	<div><%= @paid%></div>
 -->
	


